.popup__save_confirm{
    margin: 0 auto;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
}

@media screen and (max-width:640px){
    .popup__save_confirm{
        margin-top: 60px;
    }
}